.ViewAnswer {
  width: 40%;
  background-color:#ECF7DB;
  margin: auto;
  border: 3px solid #F4AE27;
  box-shadow: 0 2px 3px #ccc;
  padding: 30px 8px;
  text-align: center;

}


.ViewQuestion{
  width: 40%;
  background-color:#B2E4F1;
  margin: auto;
  border: 3px solid #F4AE27;
  box-shadow: 0 2px 3px #ccc;
  padding: 30px 8px;
  text-align: center;

}
