
.ViewAnswer {
  width: 100%;
  background-color:#ECF7DB;
  margin: 0;
  border: 3px solid red ;
  box-shadow: 0 2px 3px #ccc;
  padding: 80px 20px;
  text-align: center;

}


.ViewQuestion{
  width: 100%;
  background-color:#B2E4F1;
  margin: 0;
  border: 3px solid red;
  box-shadow: 0 2px 3px #ccc;
  padding: 80px 20px;
  text-align: center;
}
