.App {
  text-align: center;
  color: blue;
  /*background-color: #EAF2F8;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Style1  {
  background-color: #E8DAEF;
  font: inherit;
  border: 5px solid #E59866;
  margin: 2px;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  float: center;
}

.RealAnswer {
  background-color: #FCF3CF;
  font: inherit;
  border: 5px solid #E59866;
  padding: 6px;
  margin: auto 20px;
  cursor: pointer;

}


.Basic {
  width: 50%;
  height: 60%;
  margin: auto;
  background-color: #EAF2F8;
  padding: 5px;
  border: 10px solid #E59866;
}

.Navbar {
  background-color: #adccff;
  font: inherit;
  border: 2px solid #dee5ef;
  margin: 5px;
  padding: 10px;
  float: right;
}
